<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/cats.css">
</head>

<body>
    <nav class="navbar bg-info justify-content-center " >
        <ul class="nav ">
            <li class="nav-item">
                <a class="nav-link text text-white" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text text-white" href="#">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text text-white" href="#">Skills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text text-white" href="#">Education</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text text-white" href="#">Address</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid  mt-2">
        <div class="row">
            <div class="col-4">
                <img src="/images/dj.png" class="img-fluid" alt="NA">
            </div>
            <div class="col-8">
                <h1 class="text text-start">Hi, I am <i>Junaid</i> </h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, laboriosam nemo, necessitatibus provident culpa commodi similique, quidem vitae dicta quaerat magnam expedita tenetur sequi eligendi nihil cum? Voluptate, dolor eius?
                </p>
            </div>
        </div>
    </div>

    <button8 class="btn btn-primary" onclick="cats()">Add Cat</button>
    <script src="/js/cats.js"></script>
    <script src="/js/bootstrap.js"></script>
</body>

</html>