body{
    padding: 0;
    margin: 0;
    background: lightcoral;
}
/* .navbar{
    background-color:  #333;
    color: white;
}

ul li{
    list-style: none;
}

ul li a{
    color: white;
    text-decoration: none;
}
ul{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    padding: 10px;
    background-color: #333;
    color: white;
} */

img{
    width: 200px;
    height: 150px;
    border-radius: 150px;
}